/*** Base Style ***/
body {
	font-family: 'Dancing Script', Helvetica, sans-serif;
	background-color: #FFE4B5;
}

* {
	box-sizing: border-box;
}

p {
	font-size: 22px;
}
/*** Our Hearts ***/
.redheart {
	color:#ff0000;
}