/*** Đây là style cho tấm thiệp ***/
body {
	font-family: 'Dancing Script', Helvetica, sans-serif; /* font dùng cho thiệp. 
	chị nhớ thay 'Dancing Script' bằng tên font tương ứng nha. 
	Helvetica và sans-serif là để phòng trường hợp trên máy của người xem không có font Dancing Script.
	Code sẽ tự chuyển qua một trong hai font này, mà mặc định máy nào cũng có */
	background-color: #FFE4B5; /* màu nền thiệp. chị có thể tìm hex code của màu khác chị thích và thay vào */
}

* {
	box-sizing: border-box;
}

p {
	font-size: 22px; /* font size chữ của lời chúc. chị có thể tăng giảm tùy thích.
	còn font size cho tựa đề thiệp em để cho mặc định không chỉnh. 
	nếu chị muốn chỉnh chị có thể ghi:
	
	h1 {
	font-size: 36px; (size tùy thích)
	} 

	*/
}
/*** Trái tim yêu thương ***/
.redheart {
	color:#ff0000; /* đây là hex code cho màu đỏ của trái tim. chị có thể thay màu cũng được. keke */
}